/* CSS Zero */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	max-width:100%;
	border:1px solid grey;
} 

h1, h2, h3, p, a{
  font-family: 'Rowdies', cursive;
}
a{
  margin-right: 20px;
  text-decoration: none;
  
}

/* HOME PAGE CSS */

#home-page {
	background-image: url(https://i.picsum.photos/id/1048/5616/3744.jpg?hmac=N5TZKe4gtmf4hU8xRs-zbS4diYiO009Jni7n50609zk);
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}


.container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  justify-content:space-around;
  margin-top:20.5%;

  
  
}


.slogan-text div{
  margin:1.25%;
  display:flex;
  justify-content:space-between;
}
.slogan-text p{
  font-size: 2rem;
  font-style: italic;
  
}


#name h1, a {
  font-size: 3rem;
}



/* END OF HOME PAGE CSS */
/* ABOUT PAGE CSS */
/* #about-header{
	margin-top:15%;
	background-image: url(C:\Users\AB\Documents\GitHub\How-To-Marketing-Page\assests\jumboimagetop.jpg)
	  
  } */
  h3 {
    font-size:2rem
  }
  #about-nav{
    background-color: #DCDCDC;
  }
  #about-nav div {
	display: flex;
	  flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }
  
 .logo h1 {
  font-size:4rem;
  padding-bottom: 3.25%;
 }
 .navbox a{
   font-size: 4rem;

 }
 
  #skills{
	background-color:#DCDCDC;
  }
  #skills h2{
	text-align:center;
  padding:3% 0;
  font-size: 3rem;
  }
  .contanier{
	display:flex;
	justify-content:space-around;
  }
  #skills{
    padding-top:2.5%;
  }
  #skills .contanier div{
	text-align:center;
	width:28%;
  }
  #skills .contanier div p{
  text-align:justify;
  font-size:1.5rem
  
  }
  
  #skills2{
	background-color:#DCDCDC;
  }
  #skills2 h2{
	text-align:center;
	padding:3% 0;
  }
  .contanier2{
	display:flex;
	justify-content:space-around;
  }
  #skills2 .contanier2 div{
	text-align:center;
	width:28%;
  }
  #skills2 .contanier2 div p{
  text-align:justify;
  font-size:1.5rem
  }
  
  #about-footer nav{
	display:flex;
  justify-content:space-evenly;
  font-size: 2rem;
  
	
  }
  footer{
    background-color: #DCDCDC;
    padding-top: 10%;
    padding-bottom: 2.5%;
  }


  
/* RESPONSIVENESS TO MOBILE */
  @media(max-width:500px){
    .container {
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      justify-content:space-around;
      margin-top:55%;
      text-align: center;
    }
    .container div{
      margin-top: 2.5%;
      margin-bottom: 5%;
    }
    
    .slogan-text p {
      font-size: 1rem;
    }
    
    #name h1, a {
      font-size: 1.5rem;
    }
    #about-nav div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.5rem;
      padding-top: 3%;
      padding-bottom: 1.5%;
      }
      .logo h1{
        font-size: 3.5rem;
      }
      .navbox a{
        font-size: 2rem;
        margin: 3.5%;
        width: 100%;
        text-align: center;
      }
      .contanier{
        display:flex;
        flex-direction: column;
        align-items: center;
        
      }
      #skills .contanier div{
        text-align:center;
        width:80%;
        padding-bottom: 5%;
      }
      .contanier2{
        display:flex;
        flex-direction: column;
        align-items: center;
        
      }
      #skills2 .contanier2 div{
        text-align:center;
        width:80%;
        padding-bottom: 5%;
        }
        #about-footer a{
          
          font-size: 2rem;
        

  

  } 